<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script src="https://kit.fontawesome.com/96d6f697fa.js" crossorigin="anonymous"></script>
    <script defer src="/services/api.js"></script>
    <script defer src="/services/index.js"></script>
</head>
<body>
    <input type="checkbox" id="btn-modal">
    <label for="btn-modal" class="lbl-modal">SignIn</label>
    <div class="modal">
        <div class="container">
            <header>Iniciar Sesion!</header>
            <label for="btn-modal" class="x">X</label>
            <div class="content">
                <form>
                    <ul>
                        <li>
                            <label>Correo:</label>
                            <input type="email">
                        </li>
                        <li>
                            <label>Password:</label>
                            <input type="password">
                        </li>
                        <button>Aceptar</button>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <input type="checkbox" id="btn-modal2">
    <label for="btn-modal2" class="lbl-modal">Signup
    </label>
    <div class="modal2">
        <div class="container">
            <header>Registrate!</header>
            <label for="btn-modal2" class="x">X</label>
            <div class="content">
                <form>
                    <ul>
                        <li>
                            <label>Correo:</label>
                            <input type="email">
                        </li>
                        <li>
                            <label>Password:</label>
                            <input type="password">
                        </li>
                        <button>Aceptar</button>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <header>
        <h1>New York Times <g class="r">®</g></h1>
        <div class="best">
            <h2 class="sellers">Best Sellers</h2>
        </div>
    </header>

    <div class="lds-hourglass" id="spinner"></div>

    <div id="allListBooks" class="hidden padre"></div>



</body>
</html>