<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYT Science Best Sellers</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/details.css">
    <script src="https://kit.fontawesome.com/96d6f697fa.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <h1>New York Times <g class="r">®</g></h1>
        <div class="best">
            <h2 class="sellers">Best Sellers</h2>
        </div>
        <div id="categoryTitle">
        </div>
    </header>

    <div class="boton">
        <button class="button" onclick="history.back()"><i class="fa-solid fa-angle-left"></i> BACK TO INDEX</button>
        
    </div>
    <br>

    <div class="lds-hourglass" id="spinner"></div>

    <div id="bookBestSeller" class="hidden padre">
       
    </div>  
    <script src="/services/api.js" ></script>
    <script src="/services/details.js"></script>
</body>
</html>